// Colors

//----- General
$color-white: #fff;
$color-black: #000;
//----- END General

//----- Weather
$color-weather-background-from: #9fd7e8;
$color-weather-background-to: #e1fdea;
//----- END Weather

//----- Weather Currently
$color-weather-currently-background-from: #9fd7e8;
$color-weather-currently-background-to: #c2955a;
//----- END Weather Currently

//----- Weather Currently Details
$color-weather-currently-details-background-from: #9ed1c8;
$color-weather-currently-details-background-to: #eecf80;
//----- END Weather Currently

//----- Chart
$color-shape-fill-first: #523530;
$color-shape-fill-second: #f2d59d;
$color-line: #a0d4e4;
//----- END Chart
