$icomoon-font-family: "Weather-app" !default;
$icomoon-font-path: "/fonts" !default;

$icon--fog: "\e909";
$icon--wind: "\e90a";
$icon--angle-down: "\e900";
$icon--cloud: "\e901";
$icon--cloudy: "\e902";
$icon--moon: "\e903";
$icon--rain: "\e904";
$icon--refresh: "\e905";
$icon--snowing: "\e906";
$icon--storn: "\e907";
$icon--sun: "\e908";

